/* Issues display styles */
.rocketship-columns {
  width: 100%;
}
.rocketship-column {
  width: 31%;
  float: left;
  margin-right: 0.9em;
}
@media only screen and (max-width:480px) {
  .rocketship-column {
      width: 100%;
      margin-right: 0;
  }
}
@media only screen and (max-width:768px) and (min-width: 481px){
  .rocketship-column {
      width: 47%;
  }
}
.rocketship-issues h3 {
  clear: both;
}
.rocketship-node {
  margin-bottom: 1em;
  padding: 3px 5px 3px 8px;
  border-left-width: 8px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-color: #F5F5F5;
  border-top: 1px dashed #adadad;
  border-bottom: 1px dashed #adadad;
  border-right: 1px dashed #adadad;
}
.rocketship-node a {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 8px;
}
.rocketship-focus {
  border-left-color: #336699;
}
.rocketship-major {
  border-left-color: #FF9900;
}
.rocketship-critical {
  border-left-color: #FF0000;
}
.rocketship-term {
  margin: 2px 6px 2px 0;
  display: inline-block;
  font-size: 0.8em;
  padding: 0px 1px;
  border-bottom: 1px dotted #adadad;
  border-radius: 2px;
}
.rocketship-needs-tests {
  font-weight: bold;
}
.rocketship-legend {
  float: right;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.8em;
  margin-top: 0.2em;
  clear: both;
}
.rocketship-legend div {
  display: inline-block;
  margin-left: 2px;
}
.rocketship-node .assigned {
  background-color: #F5F5F5;
  margin: 8px -5px -3px -8px;
  padding: 1px 8px;
  font-size: 0.8em;
}

/* User cloud styles */
.rocketship-cloud-wrapper {
  border-top: 1px solid #3b3b3b;
  margin-bottom: 2em;
  clear: both;
}
.rocketship-cloud-wrapper p {
  font-size: 0.8em;
  margin-top: 1.3em;
  font-style: italic;
}
.rocketship-cloud {
  line-height: 1.3em;
  text-align: justify;
}
.rocketship-cloud-1 {
  font-size: 0.8em;
}
.rocketship-cloud-2 {
  font-size: 1em;
}
.rocketship-cloud-3 {
  font-size: 1.4em;
}
.rocketship-cloud-4 {
  font-size: 1.6em;
}
.rocketship-cloud-5 {
  font-size: 1.8em;
}
.rocketship-cloud-6 {
  font-size: 2em;
}
.rocketship-cloud-recent a {
  font-weight: bold;
}
